In [1]:
import pandas as pd

In [2]:
planes = pd.read_csv('../data/planes.csv')

In [3]:
planes.head

<bound method NDFrame.head of      tailnum    year                     type                   manufacturer  \
0     N10156  2004.0  Fixed wing multi engine                        EMBRAER
1     N102UW  1998.0  Fixed wing multi engine               AIRBUS INDUSTRIE
2     N103US  1999.0  Fixed wing multi engine               AIRBUS INDUSTRIE
3     N104UW  1999.0  Fixed wing multi engine               AIRBUS INDUSTRIE
4     N10575  2002.0  Fixed wing multi engine                        EMBRAER
...      ...     ...                      ...                            ...
3317  N997AT  2002.0  Fixed wing multi engine                         BOEING
3318  N997DL  1992.0  Fixed wing multi engine  MCDONNELL DOUGLAS AIRCRAFT CO
3319  N998AT  2002.0  Fixed wing multi engine                         BOEING
3320  N998DL  1992.0  Fixed wing multi engine  MCDONNELL DOUGLAS CORPORATION
3321  N999DN  1992.0  Fixed wing multi engine  MCDONNELL DOUGLAS CORPORATION

          model  engines  seats  speed     engine
0     EMB-145XR        2     55    NaN  Turbo-fan
1      A320-214        2    182    NaN  Turbo-fan
2      A320-214        2    182    NaN  Turbo-fan
3      A320-214        2    182    NaN  Turbo-fan
4     EMB-145LR        2     55    NaN  Turbo-fan
...         ...      ...    ...    ...        ...
3317    717-200        2    100    NaN  Turbo-fan
3318      MD-88        2    142    NaN  Turbo-fan
3319    717-200        2    100    NaN  Turbo-fan
3320      MD-88        2    142    NaN  Turbo-jet
3321      MD-88        2    142    NaN  Turbo-jet

[3322 rows x 9 columns]>

In [4]:
planes.describe

<bound method NDFrame.describe of      tailnum    year                     type                   manufacturer  \
0     N10156  2004.0  Fixed wing multi engine                        EMBRAER
1     N102UW  1998.0  Fixed wing multi engine               AIRBUS INDUSTRIE
2     N103US  1999.0  Fixed wing multi engine               AIRBUS INDUSTRIE
3     N104UW  1999.0  Fixed wing multi engine               AIRBUS INDUSTRIE
4     N10575  2002.0  Fixed wing multi engine                        EMBRAER
...      ...     ...                      ...                            ...
3317  N997AT  2002.0  Fixed wing multi engine                         BOEING
3318  N997DL  1992.0  Fixed wing multi engine  MCDONNELL DOUGLAS AIRCRAFT CO
3319  N998AT  2002.0  Fixed wing multi engine                         BOEING
3320  N998DL  1992.0  Fixed wing multi engine  MCDONNELL DOUGLAS CORPORATION
3321  N999DN  1992.0  Fixed wing multi engine  MCDONNELL DOUGLAS CORPORATION

          model  engines  seats  speed     engine
0     EMB-145XR        2     55    NaN  Turbo-fan
1      A320-214        2    182    NaN  Turbo-fan
2      A320-214        2    182    NaN  Turbo-fan
3      A320-214        2    182    NaN  Turbo-fan
4     EMB-145LR        2     55    NaN  Turbo-fan
...         ...      ...    ...    ...        ...
3317    717-200        2    100    NaN  Turbo-fan
3318      MD-88        2    142    NaN  Turbo-fan
3319    717-200        2    100    NaN  Turbo-fan
3320      MD-88        2    142    NaN  Turbo-jet
3321      MD-88        2    142    NaN  Turbo-jet

[3322 rows x 9 columns]>

In [5]:
planes.shape

(3322, 9)

In [6]:
import json
with open('../data/json_example.json', 'r') as f:
    imported_json = json.load(f)

In [7]:
type(imported_json)

dict

In [8]:
imported_json

{'planeId': '1xc2345g',
 'manufacturerDetails': {'manufacturer': 'Airbus',
  'model': 'A330',
  'year': 1999},
 'airlineDetails': {'currentAirline': 'Southwest',
  'previousAirlines': {'1st': 'Delta'},
  'lastPurchased': 2013},
 'numberOfFlights': 4654}

In [9]:
import pandas as pd

In [10]:
airports = pd.read_csv('../data/airports.csv')

In [11]:
airports

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523,-5,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5,A,America/New_York
...,...,...,...,...,...,...,...,...
1453,ZUN,Black Rock,35.083228,-108.791778,6454,-7,A,America/Denver
1454,ZVE,New Haven Rail Station,41.298669,-72.925992,7,-5,A,America/New_York
1455,ZWI,Wilmington Amtrak Station,39.736667,-75.551667,0,-5,A,America/New_York
1456,ZWU,Washington Union Station,38.897460,-77.006430,76,-5,A,America/New_York
1457,ZYP,Penn Station,40.750500,-73.993500,35,-5,A,America/New_York

In [12]:
airports.describe

<bound method NDFrame.describe of       faa                           name        lat         lon   alt  tz dst  \
0     04G              Lansdowne Airport  41.130472  -80.619583  1044  -5   A
1     06A  Moton Field Municipal Airport  32.460572  -85.680028   264  -6   A
2     06C            Schaumburg Regional  41.989341  -88.101243   801  -6   A
3     06N                Randall Airport  41.431912  -74.391561   523  -5   A
4     09J          Jekyll Island Airport  31.074472  -81.427778    11  -5   A
...   ...                            ...        ...         ...   ...  ..  ..
1453  ZUN                     Black Rock  35.083228 -108.791778  6454  -7   A
1454  ZVE         New Haven Rail Station  41.298669  -72.925992     7  -5   A
1455  ZWI      Wilmington Amtrak Station  39.736667  -75.551667     0  -5   A
1456  ZWU       Washington Union Station  38.897460  -77.006430    76  -5   A
1457  ZYP                   Penn Station  40.750500  -73.993500    35  -5   A

                 tzone
0     America/New_York
1      America/Chicago
2      America/Chicago
3     America/New_York
4     America/New_York
...                ...
1453    America/Denver
1454  America/New_York
1455  America/New_York
1456  America/New_York
1457  America/New_York

[1458 rows x 8 columns]>

In [13]:
airports = airports.loc[0:100]

In [14]:
airports.head()

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523,-5,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5,A,America/New_York

In [15]:
airports = airports.set_index('faa')
airports.head()

,name,lat,lon,alt,tz,dst,tzone
faa,,,,,,,
04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago
06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago
06N,Randall Airport,41.431912,-74.391561,523,-5,A,America/New_York
09J,Jekyll Island Airport,31.074472,-81.427778,11,-5,A,America/New_York

In [16]:
airports.loc['04G']

name     Lansdowne Airport
lat                41.1305
lon               -80.6196
alt                   1044
tz                      -5
dst                      A
tzone     America/New_York
Name: 04G, dtype: object