In [1]:
import pandas as pd

In [ ]:
# help file
pd.read_csv?

In [3]:
# the ../ in the file path means go up one level from the current folder
planes = pd.read_csv('../data/planes.csv')

In [4]:
planes

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan
...,...,...,...,...,...,...,...,...,...
3317,N997AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
3318,N997DL,1992.0,Fixed wing multi engine,MCDONNELL DOUGLAS AIRCRAFT CO,MD-88,2,142,NaN,Turbo-fan
3319,N998AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
3320,N998DL,1992.0,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142,NaN,Turbo-jet
3321,N999DN,1992.0,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142,NaN,Turbo-jet

In [5]:
# head() defaults to first 5 rows
# put a number in the parentheses to define a different number of rows
planes.head()

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan

In [6]:
planes.describe

<bound method NDFrame.describe of      tailnum    year                     type                   manufacturer  \
0     N10156  2004.0  Fixed wing multi engine                        EMBRAER
1     N102UW  1998.0  Fixed wing multi engine               AIRBUS INDUSTRIE
2     N103US  1999.0  Fixed wing multi engine               AIRBUS INDUSTRIE
3     N104UW  1999.0  Fixed wing multi engine               AIRBUS INDUSTRIE
4     N10575  2002.0  Fixed wing multi engine                        EMBRAER
...      ...     ...                      ...                            ...
3317  N997AT  2002.0  Fixed wing multi engine                         BOEING
3318  N997DL  1992.0  Fixed wing multi engine  MCDONNELL DOUGLAS AIRCRAFT CO
3319  N998AT  2002.0  Fixed wing multi engine                         BOEING
3320  N998DL  1992.0  Fixed wing multi engine  MCDONNELL DOUGLAS CORPORATION
3321  N999DN  1992.0  Fixed wing multi engine  MCDONNELL DOUGLAS CORPORATION

          model  engines  seats  speed     engine
0     EMB-145XR        2     55    NaN  Turbo-fan
1      A320-214        2    182    NaN  Turbo-fan
2      A320-214        2    182    NaN  Turbo-fan
3      A320-214        2    182    NaN  Turbo-fan
4     EMB-145LR        2     55    NaN  Turbo-fan
...         ...      ...    ...    ...        ...
3317    717-200        2    100    NaN  Turbo-fan
3318      MD-88        2    142    NaN  Turbo-fan
3319    717-200        2    100    NaN  Turbo-fan
3320      MD-88        2    142    NaN  Turbo-jet
3321      MD-88        2    142    NaN  Turbo-jet

[3322 rows x 9 columns]>

In [7]:
planes.shape

(3322, 9)

In [11]:
import pandas as pd

In [12]:
airports = pd.read_csv('../data/airports.csv')

In [13]:
airports

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523,-5,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5,A,America/New_York
...,...,...,...,...,...,...,...,...
1453,ZUN,Black Rock,35.083228,-108.791778,6454,-7,A,America/Denver
1454,ZVE,New Haven Rail Station,41.298669,-72.925992,7,-5,A,America/New_York
1455,ZWI,Wilmington Amtrak Station,39.736667,-75.551667,0,-5,A,America/New_York
1456,ZWU,Washington Union Station,38.897460,-77.006430,76,-5,A,America/New_York
1457,ZYP,Penn Station,40.750500,-73.993500,35,-5,A,America/New_York

In [14]:
airports.describe

<bound method NDFrame.describe of       faa                           name        lat         lon   alt  tz dst  \
0     04G              Lansdowne Airport  41.130472  -80.619583  1044  -5   A
1     06A  Moton Field Municipal Airport  32.460572  -85.680028   264  -6   A
2     06C            Schaumburg Regional  41.989341  -88.101243   801  -6   A
3     06N                Randall Airport  41.431912  -74.391561   523  -5   A
4     09J          Jekyll Island Airport  31.074472  -81.427778    11  -5   A
...   ...                            ...        ...         ...   ...  ..  ..
1453  ZUN                     Black Rock  35.083228 -108.791778  6454  -7   A
1454  ZVE         New Haven Rail Station  41.298669  -72.925992     7  -5   A
1455  ZWI      Wilmington Amtrak Station  39.736667  -75.551667     0  -5   A
1456  ZWU       Washington Union Station  38.897460  -77.006430    76  -5   A
1457  ZYP                   Penn Station  40.750500  -73.993500    35  -5   A

                 tzone
0     America/New_York
1      America/Chicago
2      America/Chicago
3     America/New_York
4     America/New_York
...                ...
1453    America/Denver
1454  America/New_York
1455  America/New_York
1456  America/New_York
1457  America/New_York

[1458 rows x 8 columns]>

In [15]:
airports = airports.loc[0:100]

In [16]:
airports.head()

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523,-5,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5,A,America/New_York

In [17]:
airports = airports.set_index('faa')
airports.head()

,name,lat,lon,alt,tz,dst,tzone
faa,,,,,,,
04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago
06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago
06N,Randall Airport,41.431912,-74.391561,523,-5,A,America/New_York
09J,Jekyll Island Airport,31.074472,-81.427778,11,-5,A,America/New_York

In [18]:
airports.loc['04G']

name     Lansdowne Airport
lat                41.1305
lon               -80.6196
alt                   1044
tz                      -5
dst                      A
tzone     America/New_York
Name: 04G, dtype: object

In [19]:
flights = pd.read_csv('../data/flights.csv')
flights.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00

In [22]:
#json import
#returns a dictionary, not a data frame, so the syntax is different than pandas
import json
#open, read, then close it.  don't hold the resource
#r indicates we're opening to read.  use w for write.  see help file
with open('../data/json_example.json', 'r') as f:
    imported_json = json.load(f)

In [ ]:
#help for the open module
open?

In [23]:
type(imported_json)

dict

In [24]:
imported_json

{'planeId': '1xc2345g',
 'manufacturerDetails': {'manufacturer': 'Airbus',
  'model': 'A330',
  'year': 1999},
 'airlineDetails': {'currentAirline': 'Southwest',
  'previousAirlines': {'1st': 'Delta'},
  'lastPurchased': 2013},
 'numberOfFlights': 4654}

In [32]:
#pickle files.  the native data file type in python
import pickle
with open('../data/pickle_example.pickle', 'rb') as f:
    imported_pickle = pickle.load(f)

In [ ]:
# this is generic help for the open function, not specific to pickle open
open?

In [26]:
#the whole file
imported_pickle

{'planeId': '1xc2345g',
 'manufacturerDetails': {'manufacturer': 'Airbus',
  'model': 'A330',
  'year': 1999},
 'airlineDetails': {'currentAirline': 'Southwest',
  'previousAirlines': {'1st': 'Delta'},
  'lastPurchased': 2013},
 'numberOfFlights': 4654}

In [33]:
#just part of it
imported_pickle['manufacturerDetails']

{'manufacturer': 'Airbus', 'model': 'A330', 'year': 1999}

In [34]:
#just a part of a part
imported_pickle['manufacturerDetails']['year']

1999